@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900); 
.container {
  margin-bottom: 6rem;
}
.card {
    display: block; 
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgb(52,184,253),0 2px 10px 0 rgba(0,0,0,0.12); 
      transition: box-shadow .25s; 
      margin-top: 4rem ;
  }
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .tweet-middle {
    margin-top: -2rem;
  }
.heading {
  padding: 1em;
  text-align: center;
  vertical-align: middle;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-family: 'Roboto', sans-serif;
}
  h1 {
    /* color: #fff; */
    font-size: 1.15em;
    font-weight: 900;
    margin: 0 0 0.5em;
    color: rgba(0, 0, 0, 0.895);
    margin-top: 10rem;
  }

.tweet {
  width: 33%;
}
  /* @media (min-width: 450px) {
    h1 {
      font-size: 3.55em;
    }
  }
  @media (min-width: 760px) {
    h1 {
      font-size: 3.05em;
    }
  } */
  @media (max-width: 900px) {
    h1 {
      font-size: 3.25em;
      margin: 0 0 0.3em;
    }
    .row {
      display: flex;
      align-content: center;
    
  }
  .tweet {
    width: 80%;
  }
  } 

  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  /* Media Queries */
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
=======
.container {
    margin-bottom: 2rem;
}
section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}
.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}
.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}
.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
.footer-distributed p.footer-links a:hover{text-decoration:underline;}
/* Media Queries */
@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

